/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #444;
}

/* Media query for smaller screens */
@media (max-width: 975px) {
	body {
		line-height: 1.2;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #444;
}

img {
	max-width: 100%;
	height: auto;
}

/* Header */

header {
	background-color: #fff;
	padding: 20px 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: 36px;
}

header nav ul {
	display: flex;
	flex-flow: row nowrap;
}

header nav ul li {
	margin-left: 20px;
}

header nav ul li:first-child {
	margin-left: 0;
}

header nav ul li a {
	color: #444;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

header nav ul li a.active,
header nav ul li a:hover {
	background-color: orange;
	color: #fff;
}

header .burger {
	display: none;
	cursor: pointer;
}

header .burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #333;
	transition: all 0.3s ease-in-out;
}

/* Media query for smaller screens */
@media (max-width: 975px) {
	header .container {
		flex-direction: column;
	}

	header nav ul {
		display: none;
	}
	header nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	header nav ul.nav-active {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: #fff;
		z-index: 1;
		padding: 20px;
		box-sizing: border-box;
		transition: all 0.3s ease;
	}

	header nav ul li {
		padding: 10px;
		margin-left: 0;
	}

	header nav a {
		color: #333;
	}

	header .burger {
		display: block;
	}
}

/* Hero Section */

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 50px;
	background-color: #fff;
	height: calc(100vh - 118px - 94px);
}

.hero-container {
	flex: 1;
	margin-right: 50px;
}

.hero-heading {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #444;
}

.hero-description {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 30px;
	color: #444;
}

.hero-cta {
	display: inline-block;
	padding: 10px 20px;
	background-color: #444;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.hero-cta:hover {
	background-color: #f7b731;
	color: #444;
}

.hero-image {
	flex: 1;
	text-align: center;
}

.hero-image img {
	width: 100%;
	height: auto;
	max-width: 600px;
}

/* Media query for smaller screens */
@media (max-width: 975px) {
	.hero {
		flex-direction: column;
		height: auto;
	}

	.hero-container,
	.hero-image {
		flex-basis: 100%;
		margin-right: 0;
	}

	.hero-container {
		margin-bottom: 50px;
	}
}

/* Services Section */

.stripe {
	background-color: #fff;
	padding: 100px 0;
}

.stripe .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 20px;
}

.stripe .service {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
	padding: 20px;
}

.stripe .service:hover {
	transform: scale(1.05);
	box-shadow: 0 12px 15px -4px rgba(0, 0, 0, 0.125), 0 24px 38px 0 rgba(0, 0, 0, 0.045),
		0 9px 50px 0 rgba(0, 0, 0, 0.03);
}

.stripe .service img {
	margin-bottom: 5px;
	max-width: 50px;
	height: auto;
}

.stripe .service h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.stripe .service p {
	text-align: center;
	font-size: 18px;
	line-height: 1.5;
}

/* Media query for smaller screens */
@media (max-width: 975px) {
	.stripe .container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Reviews Section */

.reviews {
	background-color: #fff;
	padding: 100px 0;
}

.review {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 20px;
	text-align: center;
}

.review img {
	border-radius: 50%;
	max-width: 100px;
	margin-bottom: 20px;
}

.review p {
	margin-bottom: 20px;
}

.review h4 {
	font-size: 24px;
}

/* contact */

#contact {
	background-color: #f9f9f9;
	padding: 50px 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 30px;
	text-transform: uppercase;
}

p {
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 30px;
	color: #333;
}

.contact-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

.contact-info p {
	font-size: 1.2rem;
	margin: 0 20px;
}

.contact-info a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}

.contact-info a:hover {
	color: #ffa500;
}

/* Footer Section */
footer {
	background-color: #444;
	color: #fff;
	padding: 50px 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.footer-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-column {
	flex-basis: calc(25% - 20px);
	margin-bottom: 40px;
}

.footer-column h4 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin-bottom: 10px;
}

ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

ul li a:hover {
	color: #ffd700;
}

.social-media {
	display: flex;
	margin-top: 20px;
}

.social-media li {
	margin-right: 10px;
}

.social-media li:last-child {
	margin-right: 0;
}

.social-media a {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

.social-media a:hover {
	color: #ffd700;
}

/* Media query for smaller screens */
@media (max-width: 975px) {
	.footer-columns {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

/* client section */
.client-section {
	background-color: orange;
	padding: 5px 0;
}

.client-logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.client-logo {
	margin: 10px;
}

.client-logo img {
	max-width: 80px;
	height: auto;
}

/* faqs */
.faq-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq-toggle {
	font-size: 24px;
	cursor: pointer;
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
}

.faqs {
	background-color: #fff;
	padding: 80px 0;
}

.faqs h2 {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 48px;
	text-align: center;
}

.faq-item {
	margin-bottom: 32px;
}

.faq-question {
	background-color: #f1f2f6;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	padding: 24px;
	cursor: pointer;
}

.faq-question h3 {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

.faq-toggle {
	font-size: 36px;
	font-weight: 700;
}

.faq-toggle.active {
	transform: rotate(45deg);
}

.faq-toggle.active + .faq-answer {
	max-height: 200px;
}

/* budget section */

#budget-planning {
	background-color: #f5f5f5;
	padding: 60px 0;
}

#budget-planning h2 {
	font-size: 36px;
	margin-bottom: 30px;
}

#budget-planning p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

#budget-planning ol {
	font-size: 18px;
	line-height: 1.5;
	margin-left: 30px;
}

#budget-planning li {
	margin-bottom: 15px;
}

#budget-planning li::before {
	content: '✓ ';
	color: #03a9f4;
	font-size: 20px;
	margin-right: 10px;
}

/* Screen reader styles */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
